*{
    margin:0;
    padding:0;
}

body{
    overflow:hidden;
    background-color: #4e5357b6;
    width:100%;
    height:100%;
}

.nav{
    overflow:hidden;
    background-color: rgba(48, 48, 50, 0.815);
    width:100%;
    height:10%;
    text-align:right;
    padding-top: 4%;
    display:inline-block;

}
#name{
    text-align:left;
    text-shadow:3%;
    padding-left:5%;
    color:rgb(252, 249, 249);
}
#link{
    margin-top:5%;
    text-align:right;
    text-decoration:none;
    text-shadow:2%;
    color:rgba(253, 253, 253, 0.904);
    padding:5%;
    padding-top: 50%;
    height:20%;
    width:20%;
    border-radius:50%;   
}


.inbox{
    color:rgb(34, 29, 29);
    overflow:hidden;
    margin:5%;
    padding-left:10%;
    padding-right:10%;
    padding-top:10%;
    padding-bottom:10%;
    border:2px solid rgba(86, 99, 210, 0);
    border-radius:10%;
    width:70%;
    height:10%;
    background-color:rgba(249, 249, 251, 0.811);
    text-align:center;
}
#foot{
    text-align:center;
    height:20%;
    width:100%;
    background-color: rgba(4, 6, 17, 0.703);
}
